<div class="card">
  <div class="card-header bg-white">
    <h1 class="text-danger" style="height: 15px;">
      Account List
    </h1>
  </div>


  <div class="card-body " style="overflow: scroll;">
    <div class="">
      <label for="" class="text-danger lbl">Search:</label>
      <input class="ml-2 txt" type="text" [(ngModel)]="searchText">
      <button class="btn btn-sm ml-2 btn-primary pull-right" (click)="btnNew()" data-bs-toggle="modal"
        data-bs-target="#addEditModal">
        <i class="fa fa-plus"></i> New
      </button>
    </div>
    <table class="table table-bordered mt-4 table-sm">
      <thead class="table-secondary">
        <tr>
          <th>Account Code</th>
          <th>Account Name</th>
          <th>Created By</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <ng-container *ngIf="AccountHeads.length>0; else noData">
          <tr *ngFor="let AccHead of AccountHeads | search: searchText">
            <td>{{AccHead.sAccountCode}}</td>
            <td>{{AccHead.sAccountName}}</td>
            <td>{{AccHead.sUpdatedBy}}</td>
           

            <ng-container *ngIf="AccHead.bActiveStatus == true; else inactive" >
              <span class="badge bageActive bage" >Active</span>
            </ng-container>
            <ng-template #inactive>
              <span class="badge bageInactive bage">In-Active</span>
            </ng-template>
            <td>
              <a [routerLink]="[]" class="text-info action" data-bs-toggle="modal" title="View Data" data-bs-target="#viewModal"
                (click)="getByIDAccount(AccHead.sAccountCode)"><i class="fa fa-eye"></i></a>
              <a [routerLink]="[]" class="text-success action ms-1" data-bs-toggle="modal" title="Edit Data"
                data-bs-target="#addEditModal" (click)="edit(AccHead.sAccountCode)"><i class="fa fa-edit"></i></a>
              <a [routerLink]="[]" class="text-danger action ms-1" (click)="deleteAccount(AccHead.sAccountCode)"
                ><i class="fa fa-trash"></i></a>
                <a [routerLink]="[]" class="text-danger action ms-1"
                (click)="downloadAccount(AccHead.sAccountCode)"><i class="fa fa-download" aria-hidden="true"></i></a>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="8" class="text-danger">No data found</td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>
</div>

<!-- Create Account Modal -->
<div class="modal fade" id="addEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header " style="background-color: #4e9c85;">
        <h1 class="modal-title text-white">{{lblModalHeader}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clearData()"></button>
      </div>
      <form [formGroup]="AccountHeadForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">

          <div class="row mb-2">
            <label for="" class="col-sm-4 col-form-label">Account Code <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="sAccountCode" />
              <div class="text-form text-danger" *ngIf="AccountCode.errors?.['required'] && AccountCode.touched">
                Account Code is Required
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <label for="" class="col-sm-4 col-form-label">Account Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="sAccountName" />
              <div class="text-form text-danger" *ngIf="AccountName.errors?.['required'] && AccountName.touched">
                Account Name is Required
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <label for="" class="col-sm-4 col-form-label">Created By</label>
            <div class="col-sm-8">
              <input type="text" class="form-control bdrnone" formControlName="sUpdatedBy" readonly />
            </div>
          </div>

          <div class="row mb-2">
            <label for="" class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <input class="  col-sm-2 mt-2 chk col-form-label" type="checkbox" value="bActiveStatus"
                formControlName="bActiveStatus">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" #closeButton class="btn btn-sm btn-danger" data-bs-dismiss="modal"
            (click)="clearData()">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" [disabled]="!AccountHeadForm.valid" class="btn btn-sm btn-primary"
            >
            <i class="fa fa-check-circle"></i> {{lblBtn}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- View Account -->
<div class="modal fade" id="viewModal" cdkDrag (cdkDragStarted)="dragStarted($event)"
  (cdkDragEnded)="dragEnded($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4e9c85;">
        <h5 class="modal-title text-white">Account Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td>Account Code</td>
              <td>{{objAccountHead.sAccountCode}}</td>
            </tr>
            <tr>
              <td>Account Name</td>
              <td>{{objAccountHead.sAccountName}}</td>
            </tr>
            <tr>
              <td>Created By</td>
              <td>{{objAccountHead.sUpdatedBy}}</td>
            </tr>
            <tr>
              <td>Status</td>

              <ng-container *ngIf="objAccountHead.bActiveStatus == true; else inactive">
                <div>Active</div>
              </ng-container>
              <ng-template #inactive>
                <div>In Active</div>
              </ng-template>

            </tr>

          </tbody>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" #closeButton class="btn btn-sm btn-danger" data-bs-dismiss="modal">
          <i class="fa fa-times-circle"></i> Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {

      var value = $(this).val().toLowerCase();
      console.log('TEST BU VUVEK SINGH =======>', value)
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>