.input-group-append {
    cursor: pointer;
  }

  .calendar-button {
    cursor: pointer;
  }
  .colr{

    background-color: #1d73c9;
  }

  .bdrunset{
    border: unset;
  }


  .ReqItemHeadre{

    margin: auto;
  }

  input.ng-invalid.ng-touched{
    border-color: red;
   }


   text.ng-invalid.ng-touched{
    border-color: red;
   }


   


   .mdc-text-field {
    border-top-left-radius: 4px !important;
    border-top-right-radius:  4px !important;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-flex;
    align-items: unset !important;
    padding: 0 16px !important;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    will-change: opacity,transform,color;
    
  }

  .mat-mdc-text-field-wrapper {
    height: 35px !important;
    flex: auto;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 48px;
    height: 48px;
    padding: 12px;
    bottom: 43px ;
    left: 281px ;
  }




  /* Datepicker popup icon */

  button.calendar,
  button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }

  /* Sortable table demo */

  th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }

  th[sortable].desc:before,
  th[sortable].asc:before {
    content: '';
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC')
      no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
  }

  th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }

  /* Filtering table demo */
  ngbd-table-filtering span.ngb-highlight {
    background-color: yellow;
  }

  /* Complete table demo */
  ngbd-table-complete span.ngb-highlight {
    background-color: yellow;
  }

  ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }

  ngb-carousel .picsum-img-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
.prHeader{
  max-width: 1650px;
}

.fitcontant{
  width: fit-content !important;
}


.md{

  margin: 12px 0px 0px 15px !important;
}

.form-switch {
  padding-left: 2.7em !important;
  height: 0.5em !important;
}

.ch {
  flex: 0 0 auto;
  width: 30% !important;
}

p {
  font-family: Lato;
}