
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4e9c85;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=''>Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" routerLink=''>Home</a>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Master's
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink='term-new'>Term</a></li>
            <li><a class="dropdown-item" routerLink='accounts-new'>Accounts</a></li>
            <li><a class="dropdown-item" routerLink='department-new'>Departments</a></li>
            <li><a class="dropdown-item" routerLink='PrnApprover-new'>PRN Approver</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='PurchaseRequisition'>Purchase Requisition</a>
        </li>
      </ul>
      <form class="navbar-nav">
        <a routerLink='' class="dropdown-item"><strong>{{this.azureDataSource.name}}</strong> </a>
        <button class="btn btn-light" *ngIf="!loginDisplay" (click)="loginPopup()"> sign in</button>
        <button class="btn btn-light" style="width: 140px;" *ngIf="loginDisplay" (click)="logout()"> sign out</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->